html {
    overflow: hidden;
}
.box {
    float: left;
    width: 200px;
    height: 50px;
    margin: 20px;
    border: 1px solid black;
}
.ov1 {
    overflow: auto;
}
.ov2 {
    overflow-y: scroll;
}
.ov3 {
    position: absolute;
    top: 20px;
    left: 500px;
    overflow: auto;
}

.ma {
    width: 50px;
}
.ma1 {
    margin-bottom: 20px;
}
.ma2 {
    margin-top: 10px;
}

.dis {
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    display: inline-block;
}
.sp {
    padding-top: 50px;
    padding-left: 50px;
    border: 1px solid black;
}

.content {
    margin-top: 50px;
    width: 120px;
    background-color: red;
    overflow: hidden;
}
.child {
    float: left;
    width: 50px;
}
.child1 {
    height: 30px;
    background-color: aqua;
}
.child2 {
    height: 50px;
    background-color: blue;
}
.child3 {
    height: 60px;
    background-color: chartreuse;
}